body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

.topBar {
  padding: 21px ;
  padding-top: 0px;
  width: 100% ;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
}

header {
  padding: 21px ;
  float: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
  line-height: 1.25;
}


#yourName {
  margin-top: 0px;
  margin-left: 50px;
  height: 59px;
  background-color: #4aaaa5 ;
  color: white ;
  font-size: 35px ;
  white-space:nowrap;
}

#navBar {
  height: 40px;
  width: 50%;
  float: right;
  padding-top: 20px;
  padding-right: 25px;
  margin-right: 50px;
  text-align: left ;
  background-color: white ;
  font-size: 20px ;
}

#navBar a {
  text-decoration: none ;
  color: #777777;
}

.mainDiv {
  background-color: #ffffff ;
  background-image: url("../images/concrete-texture.png");
  border: 0px solid #dddddd;
  width: 100%;
  height: 400px;
  clear: both;
}


.aboutMeDiv, .contactDiv, .portfolioDiv {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  margin-left: 75px;
  width: 350px;
  height: 300px;
  border: 1px;
  float: left;
}

#aboutMeHead, #contactHead, #cuteCatsHead {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:  #4aaaa5;
  font-size: 37px ;
  width: 200px;
  margin: 0;
  clear: both;
}

.myPic {
  height: auto;
  width: auto;
  margin: 15px ;
  margin-top: 0;
  max-width: 125px;
  max-height: 125px;
  background-color: #666666;
  clear: both;
}

#submitButton {
  background-color: #4aaaa5;
  font-size: 1em;
}

#myDescription, #myForm, #myCats {
  float: right;
  font-size: 12px;
  color: grey;
  margin-left: 15px;
  line-height: 1.5;
  float: left;
  clear:both;
}

.connectWithMeHead {
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 38px;
  margin-right: 450px;
  float: right;
  font-size: 30px;
  color:  #4aaaa5;
  width: 270px;
  height: auto;
  text-align: center;
}

.profileIcon {
  padding-left: 65px;
  width: 150px;
  height: auto;
}


footer {
  width: 100%;
  height: 50px;
  background-color: #666666;
  text-align: center;
  padding-top: 25px;
  font-size: 13px;
  color: white;
  border-top: 5px solid #4aaaa5;
}


/* MEDIA QUERIES  */
@media screen and (max-width: 980px) {
  .topBar {
    max-width: 100%;
  }

  .navBar {
    text-align: right;
  }

  .mainDiv {
    padding: 0 20px;
    max-width: 100%;
    height: 600px;
  }

  .aboutMeDiv {
    width: 30%;
  }

  .myPic {
    width: 200%;
    overflow: auto;
  }

  .connectWithMeHead {
    max-width: 40%;
    float: right;
    margin-right: 20%;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #navBar {
    width: 40%;
    text-align: right;
  }

  .connectWithMeHead {
    max-width: 100%;
    float: left;
    margin-left: 75px;
  }

  .maindiv {
    overflow: auto;
  }

}

@media screen and (max-width: 640px) {
  #navBar {
    width: 100%;
    text-align: center;
  }

  .maindiv {
    overflow: auto;
  }

  .aboutMeDiv, .contactDiv, .portfolioDiv {
    width: 50%;
    margin-left: 50px;
  }

  .myPic {
      width: 300px;
  }

  .connectWithMeHead {
    max-width: 100%;
    float: left;
    margin-left: 50px;
  }

  #cat1 {
    width: 200%;
    float: left;
  }

    #cat2 {
      width: 100%;
      float: left;
    }
}
